{% extends 'base.html' %}

{% block title %}
    <title>Achievement Page</title>
    <!-- Libraries Stylesheet -->
    <link href="static/achievements/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/achievements/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/achievements/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/achievements/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/achievements/css/style.css" rel="stylesheet">
{% endblock title %}

{% block content %}
<!-- Feature Start -->

<main class = "min-vh-100">
  <img src = "static/images/achievements.png"
  <div class="container-fluid  bg-icon py-6">
    <div class="container">
        <div class=" text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 700px;">
            
          <h1 class = "display-4"></h1>
            
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src = "static/images/gold-medal.png" alt="">
                    <h4 class="mb-3">The Biggest Coffee House in Western Ukraine</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="static/images/gold-medal.png" alt="">
                    <h4 class="mb-3">The BIG TINY COFFEE HOUSE CHALLENGE 2019</h4>
                   
            
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class ="img-fluid mb-4" src="static/images/gold-medal.png" alt="">
                    <h4 class="mb-3">The Fastest order completion challenge 2021</h4>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
                <img class="img-fluid mb-4" src = "static/images/silver-medal.png" alt="">
                <h4 class="mb-3">Word Barista Championship 2020</h4>
             
                <!-- <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a> -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
                <img class="img-fluid mb-4" src = "static/images/bronze-medal.png" alt="">
              <h4 class = 'mb-3'>World Latte Art Championship 2023</h4>
        
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
                <img class ="img-fluid mb-4" src = "static/images/top-100.png" alt="">
                <h4 class="mb-3">Top 100 Coffee House in the World as on May 2023</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  
    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
          <div class="text-center">
              <h1 class="display-4 testimonial-item">Our Customer Reviews</h1>
              <br><br><br>
          </div>
          <div class="owl-carousel testimonial-carousel">
              <div class="testimonial-item bg-transparent border rounded p-4">
                  <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                  <br><br>  <!-- <br> - empty row -->
                  <p>It’s a great place to stop by while you’re exploring the city. Amazing choice of coffees & snacks, the place is always buzzing & hard to get a seat at most times. Very touristy surely but one can see why!</p>
                  <div class="d-flex align-items-center">
                      <img class="img-fluid flex-shrink-0 rounded-circle"src = "static/achievements/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                      <div class="ps-3">
                          <h5 class="mb-1">Carolina</h5>
                          <small>Game Developer</small>
                      </div>
                  </div>
              </div>
              <div class="testimonial-item bg-transparent border rounded p-4">
                  <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                  
                  <p>This blew me away. The interior is huge, the equipment is striking, and the bar is stocked. They serve actual food, drinks and all kinds of other things. One of the few things I have ever called a must-do.</p>
                  <div class="d-flex align-items-center">
                      <img class="img-fluid flex-shrink-0 rounded-circle" src="static/achievements/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                      <div class="ps-3">
                          <h5 class="mb-1">Tom</h5>
                          <small>Python DevOps</small>
                      </div>
                  </div>
              </div>
              <div class="testimonial-item bg-transparent border rounded p-4">
                  <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                  <br><br> <!-- <br> - empty row -->
                  <p>This place was a wonderful experience. Great food and coffee. Felt like we were back in Italy. Oh and the smells are wonderful! Great place to sit a while and recharge after walking around the city.</p>
                  <div class="d-flex align-items-center">
                      <img class="img-fluid flex-shrink-0 rounded-circle" src="static/achievements/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                      <div class="ps-3">
                          <h5 class="mb-1">Michael</h5>
                          <small>Engineer</small>
                      </div>
                  </div>
              </div>

              <div class="testimonial-item bg-transparent border rounded p-4">
                  <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                  <p>The ambient and environment is just perfect! Staff are nice and welcoming, greet and introduced the place to me when first came in. You can taste specially brewed coffees there which you cannot find in other Coffee Houses!</p>
                  <div class="d-flex align-items-center">
                      <img class="img-fluid flex-shrink-0 rounded-circle" src="static/achievements/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                      <div class="ps-3">
                          <h5 class="mb-1">Ester</h5>
                          <small>UI/UX Designer</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Testimonial End -->

   <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="static/achievements/lib/wow/wow.min.js"></script>
   <script src="static/achievements/lib/counterup/counterup.min.js"></script>
   <script src="static/achievements/lib/owlcarousel/owl.carousel.min.js"></script>
   <!-- Template Javascript -->
   <script src="static/achievements/js/main.js"></script> <!-- scripts that allow to interact between reviews   -->

</main>
{% endblock content %}