{% extends 'base.html' %}

{% block content %}
<main class = "min-vh-100">
    <br><br><br><br><br><br><br><bt><br><br><br><br><br><br><br><br<br>
    <div class="container">
        <
        <table>
            
            <tr>
                <td><h1 class = "display-3">Order Created Successfully !</h1></td>
                <td><div class="loader"></div></td>
            </tr>
            <tr>
             <td><h3 class = "display-6 text-center">Our manager will contact you soon</h3> </td></td>

             <!-- display-6 - last number the smallest heading, display-1 first number the biggest heading-->
            </tr>
        </table>
        

    </div>
</main>
{% endblock content %}

